# This file was generated automatically by flowlogs-pipeline confgenerator
log-level: error
pipeline:
- name: ingest_collector
- name: transform_generic
  follows: ingest_collector
- name: extract_conntrack
  follows: transform_generic
- name: transform_network
  follows: extract_conntrack
- name: extract_aggregate
  follows: transform_network
- name: encode_prom
  follows: extract_aggregate
- name: write_loki
  follows: transform_network
parameters:
- name: ingest_collector
  ingest:
    type: collector
    collector:
      hostName: 0.0.0.0
      port: 2055
      portLegacy: 2056
- name: transform_generic
  transform:
    type: generic
    generic:
      policy: replace_keys
      rules:
      - input: SrcAddr
        output: srcIP
      - input: SrcPort
        output: srcPort
      - input: DstAddr
        output: dstIP
      - input: DstPort
        output: dstPort
      - input: Proto
        output: proto
      - input: Bytes
        output: bytes
      - input: TCPFlags
        output: TCPFlags
      - input: SrcAS
        output: srcAS
      - input: DstAS
        output: dstAS
      - input: Packets
        output: packets
      - input: TimeReceived
        output: timeReceived
- name: extract_conntrack
  extract:
    type: conntrack
    conntrack:
      keyDefinition:
        fieldGroups:
        - name: src
          fields:
          - srcIP
          - srcPort
        - name: dst
          fields:
          - dstIP
          - dstPort
        - name: protocol
          fields:
          - proto
        hash:
          fieldGroupRefs:
          - protocol
          fieldGroupARef: src
          fieldGroupBRef: dst
      outputRecordTypes:
      - newConnection
      - flowLog
      - endConnection
      outputFields:
      - name: bytes_total
        operation: sum
        input: bytes
      - name: bytes
        operation: sum
        splitAB: true
      - name: packets_total
        operation: sum
        input: packets
      - name: packets
        operation: sum
        splitAB: true
      - name: numFlowLogs
        operation: count
      - name: timeStart
        operation: min
        input: timeReceived
      - name: timeEnd
        operation: max
        input: timeReceived
      endConnectionTimeout: 30s
- name: transform_network
  transform:
    type: network
    network:
      rules:
      - input: dstPort
        output: service
        type: add_service
        parameters: proto
      - input: dstIP
        output: dstSubnet24
        type: add_subnet
        parameters: /24
      - input: srcIP
        output: srcSubnet24
        type: add_subnet
        parameters: /24
      - input: srcIP
        output: srcSubnet
        type: add_subnet
        parameters: /16
      - input: dstIP
        output: dstSubnet
        type: add_subnet
        parameters: /16
      - input: srcIP
        output: srcK8S
        type: add_kubernetes
        parameters: srcK8S_labels
      - input: bytes
        output: all
        type: add_if
        parameters: '>=0'
- name: extract_aggregate
  extract:
    type: aggregates
    aggregates:
    - name: bandwidth_network_service
      groupByKeys:
      - service
      - _RecordType
      operationType: sum
      operationKey: bytes
    - name: bandwidth_source_destination_subnet
      groupByKeys:
      - dstSubnet24
      - srcSubnet24
      - _RecordType
      operationType: sum
      operationKey: bytes
    - name: bandwidth_source_subnet
      groupByKeys:
      - srcSubnet
      - _RecordType
      operationType: sum
      operationKey: bytes
    - name: connection_bytes_hist
      groupByKeys:
      - _RecordType
      operationType: raw_values
      operationKey: bytes_total
    - name: connection_bytes_hist_AB
      groupByKeys:
      - _RecordType
      operationType: raw_values
      operationKey: bytes_AB
    - name: connection_bytes_hist_BA
      groupByKeys:
      - _RecordType
      operationType: raw_values
      operationKey: bytes_BA
    - name: dest_connection_subnet_count
      groupByKeys:
      - dstSubnet
      - _RecordType
      operationType: count
      operationKey: isNewFlow
    - name: src_connection_count
      groupByKeys:
      - srcSubnet
      - _RecordType
      operationType: count
    - name: TCPFlags_count
      groupByKeys:
      - TCPFlags
      - _RecordType
      operationType: count
    - name: dst_as_connection_count
      groupByKeys:
      - dstAS
      - _RecordType
      operationType: count
    - name: src_as_connection_count
      groupByKeys:
      - srcAS
      - _RecordType
      operationType: count
    - name: count_source_destination_subnet
      groupByKeys:
      - dstSubnet24
      - srcSubnet24
      - _RecordType
      operationType: count
    - name: bandwidth_destination_subnet
      groupByKeys:
      - dstSubnet
      - _RecordType
      operationType: sum
      operationKey: bytes
    - name: bandwidth_namespace
      groupByKeys:
      - srcK8S_Namespace
      - srcK8S_Type
      - _RecordType
      operationType: sum
      operationKey: bytes
    - name: flows_bytes_hist
      groupByKeys:
      - all_Evaluate
      - _RecordType
      operationType: raw_values
      operationKey: bytes
    - name: dest_service_count
      groupByKeys:
      - service
      - _RecordType
      operationType: count
- name: encode_prom
  encode:
    type: prom
    prom:
      metrics:
      - name: bandwidth_per_network_service
        type: counter
        filter:
          key: name
          value: bandwidth_network_service
        valueKey: recent_op_value
        labels:
        - groupByKeys
        - aggregate
        buckets: []
      - name: bandwidth_per_source_destination_subnet
        type: counter
        filter:
          key: name
          value: bandwidth_source_destination_subnet
        valueKey: recent_op_value
        labels:
        - groupByKeys
        - aggregate
        buckets: []
      - name: connection_size_histogram
        type: agg_histogram
        filter:
          key: name
          value: connection_bytes_hist
        valueKey: recent_raw_values
        labels:
        - groupByKeys
        - aggregate
        buckets:
        - 128
        - 2048
        - 10240
        - 102400
        - 1.048576e+06
      - name: connection_size_histogram_ab
        type: agg_histogram
        filter:
          key: name
          value: connection_bytes_hist_AB
        valueKey: recent_raw_values
        labels:
        - groupByKeys
        - aggregate
        buckets:
        - 128
        - 2048
        - 10240
        - 102400
        - 1.048576e+06
      - name: connection_size_histogram_ba
        type: agg_histogram
        filter:
          key: name
          value: connection_bytes_hist_BA
        valueKey: recent_raw_values
        labels:
        - groupByKeys
        - aggregate
        buckets:
        - 128
        - 2048
        - 10240
        - 102400
        - 1.048576e+06
      - name: connections_per_destination_subnet
        type: counter
        filter:
          key: name
          value: dest_connection_subnet_count
        valueKey: recent_count
        labels:
        - _RecordType
        - dstSubnet
        buckets: []
      - name: connections_per_source_subnet
        type: counter
        filter:
          key: name
          value: src_connection_count
        valueKey: recent_count
        labels:
        - srcSubnet
        - _RecordType
        buckets: []
      - name: connections_per_tcp_flags
        type: counter
        filter:
          key: name
          value: TCPFlags_count
        valueKey: recent_count
        labels:
        - groupByKeys
        - aggregate
        buckets: []
      - name: connections_per_destination_as
        type: counter
        filter:
          key: name
          value: dst_as_connection_count
        valueKey: recent_count
        labels:
        - dstAS
        - _RecordType
        buckets: []
      - name: connections_per_source_as
        type: counter
        filter:
          key: name
          value: src_as_connection_count
        valueKey: recent_count
        labels:
        - srcAS
        - _RecordType
        buckets: []
      - name: count_per_source_destination_subnet
        type: counter
        filter:
          key: name
          value: count_source_destination_subnet
        valueKey: recent_count
        labels:
        - dstSubnet24
        - srcSubnet24
        - _RecordType
        buckets: []
      - name: egress_per_destination_subnet
        type: counter
        filter:
          key: name
          value: bandwidth_destination_subnet
        valueKey: recent_op_value
        labels:
        - groupByKeys
        - aggregate
        buckets: []
      - name: egress_per_namespace
        type: counter
        filter:
          key: name
          value: bandwidth_namespace
        valueKey: recent_op_value
        labels:
        - groupByKeys
        - aggregate
        buckets: []
      - name: flows_length_histogram
        type: agg_histogram
        filter:
          key: name
          value: flows_bytes_hist
        valueKey: recent_raw_values
        labels:
        - groupByKeys
        - aggregate
        buckets:
        - 128
        - 2048
        - 10240
        - 102400
        - 1.048576e+06
      - name: service_count
        type: counter
        filter:
          key: name
          value: dest_service_count
        valueKey: recent_count
        labels:
        - service
        - _RecordType
        buckets: []
      port: 9102
      prefix: flp_
- name: write_loki
  write:
    type: loki
    loki:
      url: http://loki.default.svc.cluster.local:3100
      staticLabels:
        job: flowlogs-pipeline

