name: pull request - build and unit tests

on:
  pull_request:
    branches: ['*']

jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.22']

    steps:
    - name: install make
      run: sudo apt-get install make
    - name: set up go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
    - name: checkout
      uses: actions/checkout@v3
    - name: run build
      run: make build
    - name: run unit tests
      run: make tests-unit
    - name: check clean vendors
      run: go mod vendor
    - name: upload coverage to codecov.io
      if: ${{ matrix.go == '1.22' }}
      uses: codecov/codecov-action@v4
      with:
        files: ./cover.out
        flags: unittests
        fail_ci_if_error: false
        verbose: true
