name: pull request - build and unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.17', '1.18']
        
    steps:
    - name: install make
      run: sudo apt-get install make
    - name: set up go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: checkout
      uses: actions/checkout@v2
    - name: run build
      run: make build
    - name: run unit tests
      run: make tests-unit
    - name: upload coverage to codecov.io
      uses: codecov/codecov-action@v2
      with:
        files: /tmp/coverage.out
        token: ${{ secrets.CODECOV_SECRET }}
        flags: unittests
        fail_ci_if_error: true
